{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rango -
        {% block title_block %}
        How to tango with Django!
        {% endblock %}
    </title>
</head>
<body>
<div>
    {% block body_block %}
    this is body block default content.
    {% endblock %}
</div>
<hr />
<div>
    <ul>
        <li><a href="#">About</a><br/></li>
        <li><a href="{% url 'base:add_category' %}">Add Category</a></li>
        <li><a href="{% url 'base:add_page' %}">Add Page</a></li>
        <li><a href="{% url 'base:home' %}">Home</a></li>
    </ul>
</div>
    {% block body_end_block %}
    {% endblock %}
</body>
</html>