{% extends 'base/base.html' %}
{% load static %}

{% block body_block %}
<div>
    <h1>Top 5 liked categories</h1>
    <ul>
        {% for category in categories %}
        <li>
            <a href="{{category.get_absolute_url}}">{{ category.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div>
    <h1>Top 5 viewed pages</h1>
    <ul>
        {% for page in pages %}
        <li>
            <a href="{{page.url}}">{{ page.titulo }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
{% block body_end_block %}
<div>
    <img src="{% static 'img/gatoprogramador.jpg' %}" alt="My image" width="50%">
</div>
{% endblock %}

</html>