{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Rango</title>
</head>
<body>
<div>
    <h1>Top 5 liked categories</h1>
    <ul>
        {% for category in categories %}
        <li>
            <a href="/category/{{ category.slug }}">{{ category.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div>
    <h1>Top 5 viewed pages</h1>
    <ul>
        {% for page in pages %}
        <li>
            {{ page.titulo }}
        </li>
        {% endfor %}
    </ul>
</div>
<div>
    <a href="/about/">About</a><br/>
    <a href="/add_category/"> Add Category</a>
    <a href="/add_page/"> Add Page</a>
</div>
<div>
    <img src="{% static 'img/gatoprogramador.jpg' %}" alt="My image" width="50%">
</div>

</body>
</html>